 body {
     font-family: cursive;
 }
 
 .sidenav {
     height: 100%;
     width: 160px;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: rgb(69, 69, 90);
     overflow-x: hidden;
     padding-top: 20px;
 }
 
 .sidenav a {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     color: #818181;
     display: block;
     font-size: 15px;
     text-align: center;
     margin-top: 10px;
     display: block;
 }
 
 .sidenav a:hover {
     color: #f1f1f1;
 }
 
 .main {
     margin-left: 160px;
     font-size: 28px;
     padding: 0px 10px;
 }
 
 @media screen and (max-height: 450px) {
     .sidenav {
         padding-top: 15px;
     }
     .sidenav a {
         font-size: 20px;
     }
 }
 
 .img-circle {
     height: 152px;
     width: 98%;
     border-radius: 50%;
     background-position: top;
     margin-top: 0rem;
 }
 
 .box {
     margin-bottom: 0%;
 }
 
 button {
     text-align: center;
     margin-left: 38px;
     margin-top: 4px;
     color: rgb(221, 146, 146);
 }